@import "../../styles/color/variables.scss";

@mixin center-container {
  max-width: 1340px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slick-dots.slick-dots-bottom {
  margin: auto;
}

.home {
  .slick-track {
    // width: 100vw !important;
  }
}

.container {
  margin: 4% 0px;
  text-align: center;
  // max-width: 1080px;
  h1 {
    color: $primary--color1;
    font-weight: bold;
    text-transform: uppercase;
  }

  .intro-line {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #444444;
    line-height: 27px;
  }

  .searching-box {
    @include center-container;

    padding: 2%;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
  }

  .submit-btn {
    background: linear-gradient(91.13deg, #e3ab43 0%, #c79345 100%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 3%;
    color: #ffffff;
    border-color: transparent;
    i {
      margin-right: 10px;
    }
  }

  .project-container {
    @include center-container;

    .item_title {
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      text-align: center;

      color: #011769;

      margin-top: 4%;
    }
    .item_description {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;

      text-align: center;

      color: #000000;
    }

    .col-contain-item {
      // border: 1px solid springgreen;

      padding: 20px;
      border-radius: 6px;

      &:hover {
        box-shadow: 0px 0px 8px rgb(149, 149, 149);
      }
    }

    .about_us_details {
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;

      text-align: center;
      text-transform: uppercase;

      color: #be9355;

      margin-top: 4%;
    }
  }
}
