@import "../../styles/color/variables.scss";

.product-item-container {
  text-align: center;
  .product-img {
    width: 100%;
  }

  .product_kind {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    margin-top: 1%;
  }

  .product_name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    // margin-top: 2.5%;
    color: #000000;
  }

  .detail-info-with-icon {
    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &__item {
      display: flex;
      align-items: center;
      //   margin-right: 2%;
      width: 100%;
      .icon {
        width: 17px;
        height: 16px;

        margin-right: 5px;
      }
      .square {
        display: flex;
        flex-direction: row !important;
        // width: 50px;
      }
    }
  }
  .fa-info-circle {
    color: $primary--color1;
    // margin-left: -1.5%;
  }

  .price-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #1f1f1f;

    margin-top: 8%;
  }

  .price {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #000000;
    margin-top: -10px;
  }

  .buy-btn {
    display: flex;
    align-items: center;
    //width: 50vw;
    width: fit-content;
    margin: auto;
    // max-width: 22em;

    position: relative;
    padding: 10px 40px;
    box-sizing: border-box;

    $border: 2px;
    color: $primary--color1;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    background: #fff;
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 6px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: linear-gradient(to right, #e3ab43, #c79345);
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 5px $primary--color1;
    }
  }
}
