@import "../../styles/color/variables.scss";

.product-item-container {
  text-align: center;
  max-height: 480px;
  height: 480px;

  .product-img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .product_kind {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    margin-top: 23px;
    margin-bottom: 8px;
  }

  .product_name {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;

    text-align: center;

    margin-top: 12px;
    margin-bottom: 0px;
    color: #000000;
  }

  .detail-info-with-icon {
    &__container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 12px;
      margin-bottom: 17px;
    }
    &__item {
      display: flex;
      align-items: center;
      //   margin-right: 2%;
      max-width: 102px;
      width: 100%;
      box-shadow: none;
      justify-content: center;
      .icon {
        width: 17px;
        height: 16px;

        margin-right: 5px;
      }
      .square {
        display: flex;
        flex-direction: row !important;
        // font-size: 12px;
        // width: 50px;
      }
    }
  }
  .fa-info-circle {
    color: $primary--color1;
    // margin-left: -1.5%;
  }

  .price-title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #1f1f1f;
    margin-bottom: 0;
    margin-top: 16px;
  }

  .price {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #000000;
    margin-top: 6px;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
}
