@import 'variables';

.ant-slider-track {
    background-color: rgba($primary--color, .6);
}

.ant-slider-handle {
    border-color: rgba($primary--color, .6);
}

.ant-slider-dot-active {
    border-color: rgba($primary--color, .6); 
}

.ant-slider-handle.ant-tooltip-open {
    border-color: rgba($primary--color, .8);
}

.ant-slider:hover {
    .ant-slider-track {
        background-color: rgba($primary--color, .8);
    }

    .ant-slider-handle,
    .ant-slider-handle:not(.ant-tooltip-open) {
        border-color: rgba($primary--color, .8);
    }
}